@charset "UTF-8";
    body {
      font-family: "Pretendard", sans-serif;
      margin: 40px;
      background-color: #fdfdfd;
    }

    h2 {
      font-size: 30px;
      border-bottom: 3px solid #333;
      padding-bottom: 20px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .edit-btn {
      text-decoration: none;
      font-size: 16px;
      color: #555;
      border: 1px solid #ccc;
      padding: 3px 6px;
      border-radius: 4px;
      transition: background-color 0.2s;
    }

    .edit-btn:hover {
      background-color: #f0f0f0;
    }

    .detail-table {
      width: 100%;
      border-collapse: collapse;
      border: 1px solid #ccc;
      border-radius: 10px;
      overflow: hidden;
      table-layout: fixed;
    }

    .detail-table td {
      padding: 10px 14px;
      font-size: 14px;
      border-bottom: 1px solid #eee;
      word-break: break-word;
    }

    .detail-table tr:last-child td {
      border-bottom: none;
    }

    .detail-table td:first-child {
      width: 160px;
      font-weight: bold;
      background-color: #F3ECE7;
      border-right: 1px solid #eee;
      vertical-align: middle;
    }

    .detail-box {
      border: 1px solid #ccc;
      border-radius: 10px;
      overflow: hidden;
    }
    
    .table-section {
  	margin-top: 40px;
  	margin-bottom: 40px;
  	margin-right: 40px;
	}