<th:block th:fragment="admin_sidebar">

<script type="text/javascript" th:inline="javascript">
    $(function(){
        //session_id를 가져옴
        var session_id ='[[${session_id}]]'; //"mimir_501276" 이런 형태로 출력됨.
        var session_name='[[${session_name}]]';//"유재석" 이런 형태로 출력됨.

        //그래서 "를 제거해 줍시다아아
        session_id=session_id.replaceAll("\"","");
        session_name=session_name.replaceAll("\"","");

        console.log(session_id+" / "+session_name);
        $("#se_name").html(session_name);
        
        //해당 버튼을 클릭했을 때, 클릭한 버튼의 권한을 넘겨야 하지
        $(".nav__link").click(function(){
            //alert("여기 들어와?");

            var divPermission=$(this).attr("data-role");
            console.log("divPermission---------"+divPermission);
        });

        //이제 ajax를 이용해서 session_id를 넘긴 다음에
        //넘긴 페이지에서 해당 id에 할당된 권한을 주르륵 찾아보고, 접근 권한이 얘한테 있는지 true, false로 알려주자!
        // $.ajax({
        //     url:"/admin/permissionChk",

        // });

    });//ready
</script>

<div class="up__bar">
<div class="loginInfo">
    <strong><span id="se_name"></span><span>님</span></strong> &nbsp;&nbsp;&nbsp;
    <div class="logout-btn" onclick="location.href='/admin/logout'">
    <ion-icon name="log-out-outline"></ion-icon>
    <span>로그아웃</span>
    </div>
</div>
</div>
    <div class="l-navbar expander" id="navbar">
    
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <a th:href="@{/admin}" class="nav__logo">MIMIR</a>
                </div>
                <div class="nav__list">
                    <div class="nav__link" th:attr="onclick='movePage('+'\''+@{/admin/dashboard}+'\''+')'" data-role="dashboard">
                        <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">대쉬보드</span>
                    </div>
                    <div class="nav__link" th:attr="onclick='movePage('+'\''+@{/admin/employee}+'\''+')'" data-role="employee">
                        <ion-icon name="person-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">직원 관리</span>
                    </div>

                    <div class="nav__link" th:attr="onclick='movePage('+'\''+@{/admin/member}+'\''+')'" data-role="member">
                        <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">회원 관리</span>
                    </div>

                    <div class="nav__link collapse" th:attr="onclick='movePage('+'\''+@{/admin/roomlist}+'\''+')'" data-role="room">
                        <ion-icon name="bed-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">객실 관리</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <li><a th:href="@{/admin/roomlist}" class="collapse__sublink">객실정보</a></li>
                            <li><a th:href="@{/admin/resvroomlist}" class="collapse__sublink">예약 현황</a></li>
                            <li><a th:href="@{/admin/roomsales}" class="collapse__sublink">매출 현황</a></li>
                        </ul>

                    </div>

                    <div class="nav__link collapse" th:attr="onclick='movePage('+'\''+@{/admin/dining}+'\''+')'" data-role="dinning">
                        <ion-icon name="restaurant-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">다이닝 관리</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">

                            <li><a th:href="@{/admin/dining}" class="collapse__sublink">다이닝 관리</a></li>
                            <li><a th:href="@{/adminDiningResvList}" class="collapse__sublink">예약 관리</a></li>
                            <li><a th:href="@{/admin/adminDiningResvSlot}" class="collapse__sublink">좌석 관리</a></li>
                        </ul>
                    </div>

                    <div class="nav__link collapse" th:attr="onclick='movePage('+'\''+@{/admin/faq}+'\''+')'" data-role="inquiry">
                        <ion-icon name="help-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">문의 관리</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <li><a th:href="@{/admin/faq}" class="collapse__sublink">FAQ</a></li>
                            <li><a th:href="@{/admin/chat}" class="collapse__sublink">실시간 문의</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div><!-- l-navbar -->
</th:block>