<th:block th:fragment="admin_sidebar">

<div class="up__bar">
<div class="loginInfo">
    <strong><span>...</span><span>님</span></strong> &nbsp;&nbsp;&nbsp;
    <div class="logout-btn">
    <ion-icon name="log-out-outline"></ion-icon>
    <span>로그아웃</span>
    </div>
</div>
</div>
    <div class="l-navbar expander" id="navbar">
    
        <nav class="nav">
            <div>
                <div class="nav__brand">
                    <a th:href="@{/admin}" class="nav__logo">MIMIR</a>
                </div>
                <div class="nav__list">
                    <div class="nav__link" th:attr="onclick='movePage('+'\''+@{/admin/dashboard}+'\''+')'">
                        <ion-icon name="pie-chart-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">대쉬보드</span>
                    </div>
                    <div class="nav__link" th:attr="onclick='movePage('+'\''+@{/admin/employee}+'\''+')'">
                        <ion-icon name="person-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">직원 관리</span>
                    </div>

                    <div class="nav__link" th:attr="onclick='movePage('+'\''+@{/admin/member}+'\''+')'">
                        <ion-icon name="people-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">회원 관리</span>
                    </div>

                    <div class="nav__link collapse">
                        <ion-icon name="bed-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">객실 관리</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <li><a th:href="@{/admin/roomlist}" class="collapse__sublink">객실정보</a></li>
                            <li><a th:href="@{/admin/roomdetail}" class="collapse__sublink">예약 현황</a></li>
                            <li><a th:href="@{/admin/roomsales}" class="collapse__sublink">매출 현황</a></li>
                        </ul>

                    </div>

                    <div class="nav__link collapse">
                        <ion-icon name="restaurant-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">다이닝 관리</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <li><a href="#" class="collapse__sublink">예약 관리</a></li>

                        </ul>
                    </div>

                    <div class="nav__link collapse">
                        <ion-icon name="help-outline" class="nav__icon"></ion-icon>
                        <span class="nav_name">문의 관리</span>

                        <ion-icon name="chevron-down-outline" class="collapse__link"></ion-icon>

                        <ul class="collapse__menu">
                            <li><a th:href="@{/admin/faq}" class="collapse__sublink">FAQ</a></li>
                            <li><a th:href="@{/admin/chat}" class="collapse__sublink">실시간 문의</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div><!-- l-navbar -->
</th:block>