<th:block th:fragment="admin_header">
    <!-- CSS -->
    <link rel="stylesheet" href="/sidebar_assets/css/styles.css">
    <link rel="stylesheet" href="/admin_common_assets/css/common.css">

    <!-- ion-icon 아이콘!! -->
	<script type="module" src="https://unpkg.com/ionicons@7.1.0 /dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	
	<!-- JS -->
    <script src="/sidebar_assets/js/main.js"></script>
    <script src="/sidebar_assets/js/pageMove.js"></script>
    <script src="/admin_common_assets/js/admin_common_js.js"></script>

    <title>MIMIR - 관리자 페이지</title>
</th:block>