<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<!-- favicon 설정 -->
<link rel="icon shortcut"  href="/admin_common_assets/common_img/mimir_favicon.ico"/>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<th:block th:replace="~{administrator/fragments/admin_header :: admin_header}"></th:block>

</head>
<body>
<th:block th:replace="~{administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>

<div id="body-pd" class="body-pd">
<h2 class="h2Title">다이닝 예약 관리</h2>
<hr/>

<div th:replace="~{fragments/filter :: filter(${filter})}"></div>

  <table class="reservation-table" border="1" cellspacing="0" cellpadding="8" style="width:100%; text-align:center;">
    <thead>
      <tr>
        <th>예약 번호</th>
        <th>예약자명</th>
        <th>다이닝</th>
        <th>예약 날짜</th>
        <th>예약 상태</th>
      </tr>
    </thead>
  <tbody id="resultArea" th:fragment="diningResv">
    <tr th:each="resv : ${reservationList}" th:attr="data-id=${resv.reservation_id}" class="reservation-row" style="cursor:pointer;"
        th:onclick="'location.href=\'/adminDiningResvDetail/' + ${resv.reservation_id} + '\''">
      <td th:text="${resv.reservation_id}">예약 번호</td>
      <td th:text="${resv.reservation_name + (resv.reservation_type == '회원' ? ' (회원)' : ' (비회원)')}">
        예약자명
      </td>
      <td th:text="${resv.dining_name}">다이닝</td>
      <td th:text="${#dates.format(resv.reservation_date, 'yyyy-MM-dd(E)')}">예약 날짜</td>
      <td th:text="${resv.reservation_status}">예약 상태</td>
    </tr>
  </tbody>
  </table>
  
</div>

<div th:replace="~{fragments/pagination :: pagination}"></div>
  
  <script src="/admin_common_assets/js/pagination.js"></script>

</body>
</html>