<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:class="'sub-page'">
<head>
  <meta charset="UTF-8" />
  <title>다이닝 결제</title>
  <link rel="stylesheet" th:href="@{/dining_resv/css/diningNextResv.css}" />
  <link rel="stylesheet" th:href="@{/dining_resv/css/diningPopup3.css}" />
  <link rel="stylesheet" th:href="@{/css/header.css}" />
  <link rel="stylesheet" th:href="@{/css/footer.css}" />
  
</head>
<body>

<div th:replace="~{fragments/header.html :: header}"></div>

<form id="reservationForm" th:action="@{/diningNextResv}" method="post">
<div class="layout">
  <div class="form-wrap">
    <div class="form-header">
      <div class="form-header-row">
        <div class="title-wrap"><span class="title">예약정보 입력</span></div>
        <div class="required-info"><span>필수입력<span class="required-star">*</span></span></div>
      </div>
    </div>

    <div class="input-section">
      <div class="input-inner">
        <div class="input-item">
          <label>성명<span class="required-star">*</span></label>
          <input type="text" name="reservationName" class="input-field" placeholder="성명 입력" th:value="${userName}" />
          <div class="error-message">성명을 입력해주세요.</div>
        </div>
        <div class="input-item">
          <label>이메일<span class="required-star">*</span></label>
          <input type="email" name="reservationEmail" class="input-field" placeholder="이메일 입력" th:value="${userEmail}" />
          <div class="error-message">이메일 주소를 입력해주세요.</div>
        </div>
        <div class="input-item">
          <label>연락처<span class="required-star">*</span></label>
          <input type="tel" id="reservationTell" name="reservationTell" class="input-field" placeholder="연락처 입력" th:value="${userTel}" />
          <div class="error-message">연락처를 입력해주세요.</div>
        </div>
      </div>
    </div>

    <div class="request-section">
      <div class="request-inner">
        <div class="section-title">
          <span>추가 정보 입력</span>
          <button id="toggleRequestBtn" type="button" aria-expanded="false" aria-controls="requestContent">＋</button>
        </div>
        <div class="request-content" id="requestContent" style="display:none;">
          <div class="request-label">요청 내용</div>
          <div class="request-box">
            <input type="text" id="request" name="reservationRequest" placeholder="예약 시 문의사항이나 추가 요청사항이 있으시면 입력해주세요." class="request-input"/>
          </div>
          <div class="request-tip">* 자세한 내용은 업장으로 문의하시면 빠른 답변을 받으실 수 있습니다.</div>
          <div class="request-tip">* 외국에서 오시는 고객의 경우, 로밍된 연락처나 추가로 가능한 수단을 입력해주세요.</div>
        </div>
      </div>
    </div>
    
    <div class="payment-wrap">
      <div class="payment-inner">
        <div class="payment-title">
          <span>결제 방법 선택</span>
        </div>
        <div class="payment-content">
          <div class="payment-btn">
          	<button class="field-btn" type="button">현장 결제</button>
          </div>
          <div class="payment-btn" th:if="${diningId != 3}">
          	<button class="online-btn" type="button">온라인 결제</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="payment-method" id="paymentMethod" th:if="${diningId != 3}" style="display: none;">
      <div class="payment-method-btn">
		<button type="button" class="kakao-pay-btn"
  				onclick="selectPayment('카카오페이', this)">카카오페이</button>
		<button type="button" class="toss-pay-btn"
  				onclick="selectPayment('토스페이', this)">토스페이</button>
		<button type="button" class="card-pay-btn"
  				onclick="selectPayment('카드결제', this)">카드결제</button>
      </div>
    </div>
    
    <div class="payment-rule-wrap">
      <div class="payment-inner">
        <div class="payment-title">요금 및 취소 규정</div>

        <div class="payment-rule-box">
          <div class="payment-inner01">
            <div class="rule-txt01"><span>요금규정</span></div>
            <div class="rule-txt02"><span>Credit Card</span></div>
          </div>
        <div class="payment-inner02">
          <div class="rule-txt01"><span>취소규정</span></div>
          <div class="rule-txt02">
            <div class="cancel-warning">무료 취소 가능일이 지나면 위약금 발생 및 예약 취소가 불가합니다.</div>
            <div>
              - 예약 취소 및 변경은 2일 전 18:00(한국시간)까지 가능하며, 예약일 이후 예약 취소할 경우, 환불이 불가합니다.
              현장결제 예약 후 신용카드의 유효성 확인을 위하여 카드 승인 후 취소될 수 있습니다.
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="reservation-note-wrap">
      <div class="note-txt"><span>예약 유의사항</span></div>
      <div class="note-item"><span class="note-ico">▷</span><span>야닉 알레노 셰프의 미쉐린 3스타 레스토랑 파비용 르두아앵(Pavillon Ledoyen)의 메뉴</span></div>
      <div class="note-item"><span class="note-ico">▷</span><span>디너 이용 시 만12세 이하의 어린이 입장이 제한</span></div>
      <div class="note-item">
        <span class="note-ico">▷</span><span>
       	  드레스코드 : 비지니스 캐쥬얼 / 최상의 격식을 갖춘 서비스를 제공하기 위해 입장 시<br />
          반바지, 조거팬츠, 트레이닝 팬츠와 블로퍼, 슬러퍼, 샌들 착용을 제한
        </span>
      </div>
      <div class="note-item"><span class="note-ico">▷</span><span>온라인 예약은 신청 후 *예약확정*을 받으셔야 방문이 가능 (예약 확정 시 전화 또는 문자가 발송)</span></div>
    </div>
    
    <div class="term-wrap">
  	<div class="term-wrap-txt">
  	  <span>이용약관</span>
  	</div>
  	<div class="term-box-wrap">
  	  <div class="term-box01">
  	    <label class="checkbox-inner01">
  		  <input type="checkbox" id="checkAll" name="check-all"/>
  		    <span>전체동의</span>
  		</label>
  	  </div>
  	  <div class="term-box02">
  	    <div class="agree-list">
  	    
  	      <div class="agree-item">
  	        <div class="agree-inner">
  	          <div class="agree-inner-txt">
  	            <label class="checkbox-inner02">
  		          <input type="checkbox" id="check01" name="check-required"/>
  		            <span>(필수)</span>
  		            <span>다이닝 이용약관 동의</span>
  		        </label>
  	          </div>
  	          <div>
  	          	<button class="agree-btn" type="button"><span>➤</span></button>
  	          </div>
  	        </div>
  	      </div>
  	      <div class="agree-item">
  	        <div class="agree-inner">
  	          <div class="agree-inner-txt">
  	            <label class="checkbox-inner02">
  		          <input type="checkbox" id="check02" name="check-required"/>
  		            <span>(필수)</span>
  		            <span>필수항목에 대한 개인정보 수집이용 동의(다이닝 예약)</span>
  		        </label>
  	          </div>
  	          <div>
  	          	<button class="agree-btn" type="button"><span>➤</span></button>
  	          </div>
  	        </div>
  	      </div>
  	      <div class="agree-item">
  	        <div class="agree-inner">
  	          <div class="agree-inner-txt">
  	            <label class="checkbox-inner02">
  		          <input type="checkbox" id="check03" name="check-required"/>
  		            <span>(필수)</span>
  		            <span>취소규정 동의</span>
  		        </label>
  	          </div>
  	          <div>
  	          	<button class="agree-btn" type="button"><span>➤</span></button>
  	          </div>
  	        </div>
  	      </div>
  	      <div class="agree-item">
  	        <div class="agree-inner">
  	          <div class="agree-inner-txt">
  	            <label class="checkbox-inner02">
  		          <input type="checkbox" id="check04" name="check"/>
  		            <span>(선택)</span>
  		            <span>SMS, 이메일을 통한 서비스 관련 정보 수신 동의</span>
  		        </label>
  	          </div>
  	          <div>
  	          	<button class="agree-btn" type="button"><span>➤</span></button>
  	          </div>
  	        </div>
  	      </div>
   	      <div class="agree-item">
  	        <div class="agree-inner">
  	          <div class="agree-inner-txt">
  	            <label class="checkbox-inner02 checkbox-disabled">
  		          <input type="checkbox" id="check05" name="check"/>
  		            <span>SMS</span>
  		        </label>
  	            <label class="checkbox-inner02 checkbox-disabled">
  		          <input type="checkbox" id="check06" name="check"/>
  		            <span>E-mail</span>
  		        </label>
  	          </div>
  	        </div>
  	      </div>
  	    </div>
  	  </div>
  	</div>
  </div>
  </div>

  <div class="reservation-next-wrap">
    <div class="reservation-next">
      <div class="reservation-info01">
        <div class="hotel-name"><span>미미르 호텔</span>
        <button class="dining-name-btn" type="button">
          <span class="dining-name-txt" th:text="${diningName}"></span>
          <span class="arrow">➤</span>
        </button>
        </div>
      </div>

      <div class="reservation-info02">
        <div class="reservation-cnt"><span>예약 인원</span></div>
        <button class="cnt-btn" type="button">
          <span class="cnt-btn-txt">
          성인 <span class="cnt-adult-txt" th:text="${adult}"></span>
          , 어린이 <span class="cnt-child-txt" th:text="${child}"></span>
          </span>
          <span class="arrow">➤</span>
        </button>
      </div>
      
      <div class="reservation-info03">
        <div class="reservation-time"><span>예약 일시</span></div>
        <button class="reservation-btn" type="button">
  		  <div class="reservation-txt">
    	    <span class="meal-txt" th:text="${mealLabel}"></span>
    	    <span class="date-txt" th:text="${formattedDate} + ' ' + ${time}"></span>
  	      </div>
      	  <span class="arrow">➤</span>
        </button>
      </div>
      
      <div class="reservation-info04">
        <div class="reservation-price"><span>총 금액</span></div>
        <div class="price-txt">

        <!-- 대표 메뉴명 -->
        <div class="menu-info-line">
          <span class="menu-label">메뉴명 : </span>
          <span class="menu-name" th:text="${menuName}">대표메뉴</span>
        </div>

        <!-- 수량 -->
        <div class="menu-info-line">
          <span class="menu-label">수량 : </span>
          <span class="menu-qty" th:if="${meal == 'Lunch'}" th:text="${lunchQty}"></span>
          <span class="menu-qty" th:if="${meal == 'Dinner'}" th:text="${dinnerQty}"></span>
          <span>개</span>
        </div>

        <!-- 총 금액 -->
        <div class="menu-info-line total-price">
          <span class="price-num" th:text="${#numbers.formatInteger(totalPrice, 1, 'COMMA')}"></span>
          <span class="price-num-txt">원</span>
        </div>

        </div>
      </div>
    </div>

    <div class="next-txt">
  	  <input type="hidden" name="diningId" th:value="${diningId}" />
  	  
      <input type="hidden" name="adult" th:value="${adult}" />
  	  <input type="hidden" name="child" th:value="${child}" />
  	  <input type="hidden" name="date" th:value="${date}" />
  	  <input type="hidden" name="time" th:value="${time}" />
  	  <input type="hidden" name="meal" th:value="${meal}" />
  	  
      <input type="hidden" name="paymentType" id="paymentType" value="현장결제" />
      <input type="hidden" name="paymentPrice" th:value="${totalPrice}" />
      <button type="submit" class="next-btn disabled" aria-disabled="true"><span>결제</span></button>
    </div>
    
  </div>
</div>
</form>

<!-- 결제 성공 모달 -->
<div id="successModal" class="custom-modal">
  <div class="modal-content">
    <p>결제가 완료되었습니다.</p>
    <button id="successConfirmBtn">확인</button>
  </div>
</div>

<!-- 결제 실패 모달 -->
<div id="failModal" class="custom-modal">
  <div class="modal-content">
    <p id="failMessage">결제에 실패했습니다.</p>
    <button id="failConfirmBtn">확인</button>
  </div>
</div>

  <!-- 다이닝 선택 재확인 팝업 -->
  <div class="popup-overlay03" id="reselectPopup">
    <div class="popup-box">
      <p>예약 정보를 변경하시면 입력하신 정보가<br>모두 초기화됩니다.<br>변경하시겠습니까?</p>
      <div class="popup-buttons">
        <button id="reselectBtn" class="reselectBtn" type="button">재선택</button>
        <button id="closePopupBtn" class="closePopupBtn" type="button">취소</button>
      </div>
    </div>
  </div>

<div th:replace="~{fragments/footer.html :: footerFragment}"></div>

  <script th:src="@{/dining_resv/js/diningNextResv.js}"></script>
  
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>

</body>
</html>