<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.administrator.AdministratorMapper">
<!-- id를 넣으면, 해당 비밀번호 가져오기 -->
<select id="selectEmployeeLogin" parameterType="String" resultType="String">
select staff_pass from staff where staff_id=#{staff_id}
</select>

<!-- id를 넣으면, 해당 id에 대응하면 이름 가져오기 -->
<select id="selectNamebyId" parameterType="String" resultType="String">
select staff_name from staff where staff_id=#{staff_id}
</select>

<!-- id를 넣으면, 해당 아이디가 가진 권한 가져오기 -->
<select id="selectPermissionById" parameterType="String" resultType="String">
select listagg(permission_id_code,',') as permission  from staff_permission where staff_id=#{staff_id}
</select>

<!-- 아이디가 이미 있는 아이디인지 확인 -->
<select id="selectCheckExistId" parameterType="String" resultType="Integer">
select count(staff_id) from staff where staff_id=#{staff_id}
</select>

<!-- 한 명의 직원 정보 가져오기 -->
<select id="selectOneStaffDetail" parameterType="String" resultType="staffDomain">
select s.staff_id, s.staff_name, s.staff_email,s.dept_iden, s.position_identified_code, listagg(sp.permission_id_code,',') as permission_id_code, s.staff_status,s.date_of_employment
from staff s
left join staff_permission sp on s.staff_id=sp.staff_id
where s.staff_id=#{staff_id}
group by
	s.staff_id, s.staff_name, s.staff_email,s.dept_iden, s.position_identified_code, s.staff_status,s.date_of_employment
</select>

<!-- 로그파일 등록 -->
<!-- 직원 등록을 하기 위해 먼저 선행되어야 한다. 무결성 제약조건으로 인해  -->
<insert id="insertLogInfo" parameterType="staffDTO">
insert into log_record(log_iden,log_file_name) values(#{log_iden},#{log_file_name})
</insert>
<!-- 직원 등록 -->
<insert id="insertStaff" parameterType="staffDTO">
insert into staff(staff_id,position_identified_code,dept_iden,log_iden,staff_pass,staff_name,staff_email,date_of_employment,staff_status)
values(#{staff_id},#{position_identified_code},#{dept_iden},#{log_iden},#{staff_pass},#{staff_name},#{staff_email},#{date_of_employment},#{staff_status})
</insert>
<insert id="insertStaffPermission" parameterType="staffDTO">
insert into staff_permission(staff_id,permission_id_code)
values(#{staff_id},#{permission_id_code})
</insert>


<!-- 초기 비밀번호 수정 -->
<update id="updateStaffInitPassword" parameterType="loginDTO">
update staff
set staff_pass=#{pass}
where staff_id=#{id}
</update>

<!-- 비밀번호 재설정 -->
<!-- 비밀번호를 pass_어쩌구 형태로 변경! - 관리자가 비밀번호 번경을 눌렀을 떄 가능! -->
<update id="updateResetPass" parameterType="staffDTO">
update staff
set staff_pass=#{staff_pass}
where staff_id=#{staff_id}
</update>

</mapper>