/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* VARIABLES CSS */
:root {
    --nav--width: 92px;

    /* Colores */
    --first-color: #F3ECE7;
    --bg-color: #12192c;
    --sub-color: #000000;
    --white-color: #fff;

    /* Fuente y tipografia */
    --body-font: 'Poppins', 'Noto Sans KR',sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;

    /* z index */
    --z-fixed: 100;
}

/* BASE */
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0 0 0 5rem;
    padding: 5rem 0 0 3rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: 0.7s;
}

h1 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* l NAV */
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav--width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 0 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
    
}

/* NAV */
.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
     justify-content: flex-start; /* 👈 꼭 필요 */
    overflow: hidden;
    
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    margin-top:0;
    margin-bottom:0;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 300;
    font-size: 30px;
    font-family: "Javanese Text";
    
    height: 5.0625rem;
    line-height: 5.0625rem;
    padding-right: 3rem; /* 👈 또는 margin-right */
    padding-top:0.4rem;
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav__link:hover {
    background-color: var(--first-color);
    color: var(--sub-color); /*여기서 sub-color가 검은색!*/
}

.nav__icon {
    font-size: 1.25rem;
}

.nav_name {
    font-size: var(--small-font-size);
}

/* Expander menu */
.expander {
    width: calc(var(--nav--width) + 9.25rem);
}

/* Add padding body*/
.body-pd {
   /* transition : all 0.7s ease; 부드럽게 오른쪽으로 이동 */
   padding: 0 0 0 9rem;

}

/* Active links menu */
.active {
    background-color: var(--first-color);
    color: var(--sub-color); /*여기서 sub-color가 검은색!*/
}

/* COLLAPSE */
.collapse {
    grid-template-columns: 20px max-content 1fr;
}

.collapse__link {
    justify-self: flex-end;
    transition: .5;
}

.collapse__menu {
    display: none;
    padding: .75rem 2.25rem;
}

.collapse__sublink {
    color: var(--sub-color); /*여기서 sub-color가 검은색!*/
    font-size: var(--small-font-size);
    background-color: var(--first-color);
    white-space: nowrap;        /* 줄바꿈 방지 */
    word-break: keep-all;      /* 한글 단어 단위로 줄바꿈 (중간 줄바꿈 방지) */
    display: block;             /* width 적용 보장 */
    max-width: 100%;            /* 부모 너비에 맞게 */
    padding: 0.5rem 0;      /* 위아래 간격 추가 */
    
}



a.collapse__sublink:hover {
    /* color: var(--white-color); */
    color: var(--sub-color); /*여기서 sub-color가 검은색!*/
    background-color: #ff0000 !important; /* 좀 더 어두운 hover 색 */
}

/* Show collapse */
.showCollapse {
    display: block;
}

/* Rotate icon */
.rotate {
    transform: rotate(180deg);
    transition: .5s;
}

.up__bar{
    background:#2F3E51; 
    top:0; left:0;
    height:5.0625rem; width:100%; 
    position:fixed;
    z-index:10;
}

.loginInfo{
	position: absolute;
    right: 5rem;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.logout-btn{
    display: flex;
    align-items: center;
    cursor: pointer; /* 손가락 모양 */
    gap: 0.3rem;
    transition: 0.3s;
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
}

.logout-btn:hover {
    background-color: rgba(255, 255, 255, 0.1); /* hover 효과 */
}
