<configuration>
    <appender name="USER_FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>userId</key>
            <defaultValue>anonymous</defaultValue>
        </discriminator>

        <sift>
            <appender name="FILE-${userId}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>c:/dev/logs/user_${userId}/current.log</file>

                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>logs/user_${userId}/%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>14</maxHistory>
                    <cleanHistoryOnStart>true</cleanHistoryOnStart>
                </rollingPolicy>

                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    
    <!-- Hibernate SQL 로그 로거 -->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </logger>
<!-- 
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </logger>
    
 -->
	<!-- 기본 루트 로거 -->
    <root level="INFO">
        <appender-ref ref="USER_FILE" />
    </root>
</configuration>
