<configuration>
<property name="LOG_HOME" value="C:/dev"/>
    
    <!-- 콘솔 출력 앱엔더 추가 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- 파일 출력 앱엔더 추가 -->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/logs/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="USER_FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>userId</key>
            <defaultValue>anonymous</defaultValue>
        </discriminator>

        <sift>
            <appender name="FILE-${userId}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_HOME}/logs/user_${userId}/%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>14</maxHistory>
                    <cleanHistoryOnStart>true</cleanHistoryOnStart>
                </rollingPolicy>

                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>
    
    <!-- MyBatis SQL 로그 로거 -->
    <logger name="org.mybatis" level="DEBUG" additivity="false">
        <!-- <appender-ref ref="RollingFile"/> -->
        <appender-ref ref="Console"/>
    </logger>
    
    <!-- MyBatis 쿼리 로그 로거 -->
    <logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
        <!-- <appender-ref ref="RollingFile"/> -->
        <appender-ref ref="Console"/>
    </logger>
    
    <logger name="jdbc.statement" level="DEBUG" additivity="false">
        <!-- <appender-ref ref="RollingFile"/> -->
        <appender-ref ref="Console"/>
    </logger>
    
    <logger name="jdbc.resultset" level="DEBUG" additivity="false">
        <!-- <appender-ref ref="RollingFile"/> -->
        <appender-ref ref="Console"/>
    </logger>
    
    <!-- Spring 트랜잭션 로그 로거 -->
    <logger name="org.springframework.transaction" level="DEBUG" additivity="false">
        <!-- <appender-ref ref="RollingFile"/> -->
        <appender-ref ref="Console"/>
    </logger>
    
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="DEBUG" additivity="false">
        <!-- <appender-ref ref="RollingFile"/> -->
        <appender-ref ref="Console"/>
    </logger>
    
    <!-- Hibernate SQL 로그 로거 -->
    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <!-- <appender-ref ref="RollingFile"/> -->
        <appender-ref ref="Console"/>
    </logger>
<!-- 
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </logger>
    
 -->
	<!-- 기본 루트 로거 -->
    <root level="INFO">
        <appender-ref ref="USER_FILE" />
        <appender-ref ref="Console" />
        <appender-ref ref="RollingFile" />
    </root>
</configuration>
