<configuration>
    <appender name="USER_FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>userId</key>
            <defaultValue>anonymous</defaultValue>
        </discriminator>

        <sift>
            <appender name="FILE-${userId}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>c:/dev/logs/user_${userId}/current.log</file>

                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>logs/user_${userId}/%d{yyyy-MM-dd}.log</fileNamePattern>
                    <maxHistory>14</maxHistory>
                    <cleanHistoryOnStart>true</cleanHistoryOnStart>
                </rollingPolicy>

                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="INFO">
        <appender-ref ref="USER_FILE" />
    </root>
</configuration>
