<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6">
<head>
<meta charset="UTF-8">
<title>Header</title>
</head>
<body>

	<div th:fragment="header">
		<!-- 상단 툴바 -->
		<div class="toolbar">
			<div class="toolbar-left">HOTEL MIMIR</div>
			<div class="toolbar-right">
    <div sec:authorize="isAuthenticated()">
        <span style="color: white; margin-right: 15px;"><span sec:authentication="principal.name"></span>님</span>
        <a th:href="@{/member/mypage}">마이페이지</a>
        <a th:href="@{/member/logout}">로그아웃</a>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/member/loginFrm}">로그인</a> <a th:href="@{/member/registerFrm}">회원가입</a>
    </div>
</div>
		</div>

		<!-- 네비게이션 -->
		<nav class="navbar-wrapper">
			<ul class="navbar-menu">
				<li><a th:href="@{/roomhome}" class="navbar-link">호텔소개</a></li>
				<li><a th:href="@{/roomlist}" class="navbar-link">객실</a></li>
				<li><a href="#" class="navbar-link">다이닝</a></li>
				<li><a th:href="@{/inquiry}" class="navbar-link">고객센터</a></li>
			</ul>
		</nav>
		
		<!-- 스크롤 이벤트 스크립트 -->
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const toolbar = document.querySelector(".toolbar");
			const navbar = document.querySelector(".navbar-wrapper");
			const body = document.body;

			window.addEventListener("scroll", function () {
				if (window.scrollY > 50) {
					toolbar?.classList.add("scrolled");
					navbar?.classList.add("scrolled");
				} else {
					toolbar?.classList.remove("scrolled");
					navbar?.classList.remove("scrolled");
				}
			});
		});
	</script>
		
	</div>
	
	



</body>
</html>