<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<!-- favicon 설정 -->
<link rel="icon shortcut"  href="/admin_common_assets/common_img/mimir_favicon.ico"/>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<th:block th:replace="~{administrator/fragments/admin_header :: admin_header}"></th:block>

<!-- Vue CDN -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<!-- axios CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<style>
    .regEmpBtn{
    background-color: #eacdc1;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    font-weight: 500;/*=400, normal*/
    color: #000;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-right: 10rem;
    float: right;


}

.regEmpBtn:hover{
    background-color: #ddbfb3;
}
</style>
<script th:inline="javascript">
var jsonStr='[[${staffDomain}]]';
const staffJson=JSON.parse(jsonStr);


// 페이지가 로드될 때마다 실행
window.onload = function() {
    // sessionStorage에서 'staffModifyCache' 값 읽기
    var cacheVal = sessionStorage.getItem("staffModifyCache");
    console.log("cacheVal----------" + cacheVal);
    
    debugger;

    if (cacheVal != null && !sessionStorage.getItem("reloaded")) {
        // sessionStorage에 값이 존재하고 새로 고침을 하지 않은 경우
        sessionStorage.setItem("reloaded", "true"); // 새로 고침 flag 설정
        location.reload(); // 새로 고침
    } else {
        // sessionStorage 다 썼으면 지우기
        sessionStorage.removeItem("staffModifyCache");
        sessionStorage.removeItem("reloaded");

        // 서버 값 사용
        var staffJson = {};  // 서버에서 가져온 데이터
        var sDomainJSON = staffJson;  // 서버 데이터를 사용
        console.log("Using server data", sDomainJSON);
        
        // 서버에서 받은 데이터를 sDomainJSON에 할당 후 추가 로직 처리
    }
};



</script>

</head>
<body>
<th:block th:replace="~{administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>

<div id="body-pd" class="body-pd">
<h2 class="h2Title">직원 정보</h2>
<hr/>

<div id="app">
<table class="vertical-table">
<thead>
<tr>
    <th>아이디</th>
    <td th:text="${staffDomain.staff_id}"></td>
</tr>
<tr>
    <th>이름</td>
    <td th:text="${staffDomain.staff_name}"></td>
</tr>
<tr>
    <th>이메일</td>
    <td th:text="${staffDomain.staff_email}" name=""></td>
</tr>
<tr>
    <th>부서</td>
    <td th:text="${staffDomain.dept_name}"></td>
</tr>
<tr>
    <th>직책</td>
    <td th:text="${staffDomain.position_name}"></td>
</tr>
<tr>
    <th>권한</td>
    <td th:text="${staffDomain.permission_str_kor}"></td>
</tr>
<tr>
    <th>상태</td>
    <td th:text="${staffDomain.staff_status_kor}"></td>
</tr>
<tr>
    <th>입사일</td>
    <td th:text="${staffDomain.date_of_employment}"></td>
</tr>
<tr>
    <th>비밀번호 초기화</td>
    <td><input type="button" value="비밀번호 초기화" class="radiusBtn" @click="clickResetPass"/></td>
</tr>
</tbody>
</table>

<div>
<input type="button" value="로그 기록 보기" class="radiusBtn" style="background-color: #c1c1c1;  margin-top: 5rem; float:none;display: flex; justify-content: center; margin:0px auto"/>
</div>
<div class="btnGroup" style="margin-left:50rem;">
<input type="button" class="darkBtn" value="수정" id="modifyBtn" @click="modifyBtn"/>
<input type="button" class="softBtn" value="취소" onclick="history.back()"/>
</div>

<form id="frm" ref="frm" action="/admin/employee/modify" method="post">
<input type="hidden" id="staffVal" name="staff_id" :value="staffDTOJSON.staff_id"/>
</form>
</div>
</div>



<script>
Vue.createApp({
    data(){
        return{
            staffDTOJSON : {},
            sDomainJSON:{}
        }
    },
    methods:{
        clickResetPass(){
            axios.put("/admin/empInitPassword",this.staffDTOJSON)
            .then(res=>{
                alert("비밀번호 초기화 성공\n사용자의 새비밀번호 : "+res.data);
            })
            .catch(err=>{
                alert("비밀번호 초기화를 실패했습니다.");
            })

        },
        modifyBtn(){
            // form submit
            this.$refs.frm.elements['staff_id'].value = this.staffDTOJSON.staff_id;
            console.log(this.staffDTOJSON.staff_id);
            this.$refs.frm.submit();
        }
    },
    mounted(){
    //     var cacheVal=sessionStorage.getItem("staffModifyCache");
    //     alert("cacheVal----------"+cacheVal);


    //     if((cacheVal != null) && !sessionStorage.getItem('reloaded')){
    //         //sessionStorage에 값이 존재하면,
    //         sessionStorage.setItem('reloaded', 'true');
    //         location.reload(true);//새로고침
    //         //this.$router.go(0);//새로고침
    //         this.sDomainJSON=JSON.parse(sessionStorage.getItem("staffModifyCache"));
    //         console.log("sessionStorage --sDomainJSON----------- "+this.sDomainJSON);
    //         console.log("sessionStorage id ------------------"+this.sDomainJSON.staff_id);
    //         //sessionStorage 다 썼으면 지우기
    //         sessionStorage.removeItem("staffModifyCache");
    //     }else{
    //     //서버값 사용
        this.sDomainJSON=staffJson;
    //     }//if~else

        this.staffDTOJSON=this.sDomainJSON;
    }

}).mount("#app"); 
</script>
</body>
</html>
