<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<!-- favicon 설정 -->
<link rel="icon shortcut"  href="/admin_common_assets/common_img/mimir_favicon.ico"/>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- jquery CDN -->


<th:block th:replace="~{/administrator/fragments/admin_header :: admin_header}"></th:block>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link rel="stylesheet" href="/employee_assets/css/employee_style.css"/>

<script src="/admin_common_assets/js/pagination.js"></script>


</head>
<body>
<th:block th:replace="~{/administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>

<div id="body-pd" class="body-pd">
    <h2 class="h2Title">직원 목록</h2>
    <hr/>

    <div>
    <input type="button" class= "regEmpBtn" value="+ 직원 등록" onclick="location.href='/admin/employee/register'"/>
    </div>

    <div th:replace="fragments/filter :: filter(${filter})"></div>
    
    <div class="table-wrapper" id="app">    
    <table>
    <thead>
        <tr>
            <th>번호</th>
            <th>아이디</th>
            <th>이름</th>
            <th>부서</th>
            <th>직책</th>
            <th>권한</th>
            <th>상태</th>
        </tr>
    </thead>
    <tbody th:fragment="staff_list_fm" id="resultArea" >
        <tr th:each="staff, stat : ${staffList}">
            <td th:text="${stat.count}"></td>
            <td th:text="${staff.staff_id}"></td>
            <td th:text="${staff.staff_name}"></td>
            <td th:id="'dept-'+${stat.count}" th:text="${staff.dept_iden}"></td> <!-- 부서 -->
            <td th:id="'position-'+${stat.count}" th:text="${staff.position_identified_code}"></td> <!-- 직책 -->
            <td th:id="'permission-'+${stat.count}" th:text="${staff.permission_ids}"></td> <!-- 권한 -->
            <td th:id="'status-'+${stat.count}" th:text="${staff.staff_status}"></td> <!-- 상태 -->
        </tr>
    </tbody>
    </table>
    <div th:replace="fragments/pagination :: pagination"></div>
    </div>
    
</div>


<script type="text/javascript">
$(function(){
    //부서
    var deptMapping={
        "room":"객실 관리",
        "dinning":"다이닝 관리",
        "inquiry":"문의 관리",
        "person":"인사 관리",
        "member":"회원 관리",
        "manage":"경영지원실"
    };
    //직책
    var positionMapping={
        "A" : "대표",
        "B" : "팀장",
        "C" : "과장",
        "D" : "대리",
        "E" : "사원"
    }
    //권한
    var permissionMapping={
        "room" : "객실",
        "dinning" : "다이닝",
        "inquiry" : "문의",
        "member" : "회원",
        "employee":"직원",
        "admin":"관리자"
    }
    //상태
    var statusMapping={
        "ACTIVE" : "재직",
        "DEACTIVE" : "퇴사"
    }


     // MutationObserver로 동적으로 추가된 tr 처리
    var observer = new MutationObserver(function(mutationsList) {
        mutationsList.forEach(function(mutation) {
            if (mutation.type === 'childList') {
                $(mutation.addedNodes).each(function(index,node){
                    //각 노드가 <tr>인지 확인
                    if($(this).is('tr')) {
                        var trTag=$(node);//그럼 이게 tr인가? //jQuery 객체로 변환
                        
                        //.get(0)로 jQuery 객체를 원시 DOM 객체로 변환 후 querySelector
                        //부서
                        var deptVal=trTag.get(0).querySelector('td:nth-child(4)').innerText;
                        //직책
                        var positionVal=trTag.get(0).querySelector('td:nth-child(5)').innerText;
                        //권한
                        var authoritiesVal=trTag.get(0).querySelector('td:nth-child(6)').innerText;
                        //상태
                        var statusVal=trTag.get(0).querySelector('td:nth-child(7)').innerText;

                        console.log("authoritiesVal----------"+authoritiesVal);
                        

                        //부서
                        trTag.get(0).querySelector('td:nth-child(4)').innerText=deptMapping[deptVal];
                        //직책
                        trTag.get(0).querySelector('td:nth-child(5)').innerText=positionMapping[positionVal];
                        //권한
                        //상태
                        trTag.get(0).querySelector('td:nth-child(7)').innerText=statusMapping[statusVal];
                    }
                });
            }
        });
    });

    var config = { childList: true, subtree: true };
    observer.observe(document.getElementById('resultArea'), config);

});    //ready
function authorChk(authorStr){
    var testStr="hello,nice,to,meet,you";
    var seperator=",";
    var index=0;

    if(testStr.include(seperator)){
        //권한 , 로 분리하고, 반환

    }//end if
}//authorChk

</script>
</body>
</html>