<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<!-- favicon 설정 -->
<link rel="icon shortcut"  href="/admin_common_assets/common_img/mimir_favicon.ico"/>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!-- Vue CDN -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

<!-- axios CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<th:block th:replace="~{/administrator/fragments/admin_header :: admin_header}"></th:block>

</head>
<body>
<th:block th:replace="~{/administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>

<div id="body-pd" class="body-pd">
<h2 class="h2Title">직원 등록</h2>
<hr/>
<div id="app">
<div class="table-wrapper">
<table class="vertical-table">
<tr>
    <th>아이디</th>
    <td th:text="${staff_id}"></td>
</tr>
<tr>
    <th>이름</th>
    <td><input type="text" /></td>
</tr>
<tr>
    <th>이메일</th>
    <td><input type="text" /></td>
</tr>
<tr>
    <th>부서</th>
    <td>
        <select id="dept">
        <option th:value="disable" th:text="-----선택-----" disabled selected></option>
        <option v-for="dept in this.depts" :value="dept.dept_iden" :key="dept.dept_iden">{{dept.dept_name}}</option>
        </select>
    </td>
</tr>
<tr>
    <th>직책</th>
    <td>
        <select id="position">
        <option th:value="disable" th:text="---선택---" disabled selected></option>
        <option v-for="position in this.positions" :value="position.position_iden_code" :key="position.position_iden_code">{{position.position_name}}</option>
        </select>
    </td>
</tr>
<tr>
    <th>권한</th>
    <td>
    <select id="authority">
    <option th:value="disable" th:text="---선택---" disabled selected></option>
    <option v-for="authority in this.authorities" :value="authority.permission_id" :key="authority.permission_id">{{authority.permission_type}}</option>
    </select>
    </td>
</tr>
<tr>
    <th>입사일</th>
    <td><input type="date"></td>
</tr>
</table>
<div class="btnGroup">
<input type="button" class="darkBtn" value="등록"/>
<input type="button" class="softBtn"value="취소"/>
</div>
</div>
</div>



</div>

<script>

Vue.createApp({
    data(){
        return{
            depts :[
                {dept_iden:"room", dept_name:"객실 관리"},
                {dept_iden:"dinning", dept_name:"다이닝 관리"},
                {dept_iden:"inquiry", dept_name:"문의 관리"},
                {dept_iden:"person", dept_name:"인사 관리"},
                {dept_iden:"member", dept_name:"회원 관리"},
                {dept_iden:"manage", dept_name:"경영지원"},
            ],
            positions:[
                {position_iden_code:"B", position_name:"팀장"},
                {position_iden_code:"C", position_name:"과장"},
                {position_iden_code:"D", position_name:"대리"},
                {position_iden_code:"E", position_name:"사원"}
            ],
            authorities:[
                {permission_id:"room", permission_type:"객실"},
                {permission_id:"dinning", permission_type:"다이닝"},
                {permission_id:"inquiry", permission_type:"문의"},
                {permission_id:"member", permission_type:"회원"},
                {permission_id:"employee", permission_type:"직원"}

            ],
            staffDTO : {},
        }
    },
    methods:{

        
    }
}).mount("#app");
</script>
</body>
</html>