<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<!-- favicon 설정 -->
<link rel="icon shortcut"  href="/admin_common_assets/common_img/mimir_favicon.ico"/>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<!-- axios CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


<th:block th:replace="~{/administrator/fragments/admin_header :: admin_header}"></th:block>

</head>
<body>
<th:block th:replace="~{/administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>

<div id="body-pd" class="body-pd">
<h2 class="h2Title">직원 등록</h2>
<hr/>

<div class="table-wrapper">
<table class="vertical-table">
<tr>
    <th>아이디</th>
    <td></td>
</tr>
<tr>
    <th>이름</th>
    <td>111</td>
</tr>
<tr>
    <th>이메일</th>
    <td>111</td>
</tr>
<tr>
    <th>부서</th>
    <td>111</td>
</tr>
<tr>
    <th>직책</th>
    <td>111</td>
</tr>
<tr>
    <th>권한</th>
    <td>111</td>
</tr>
<tr>
    <th>입사일</th>
    <td>111</td>
</tr>
</table>
</div>

<div class="btnGroup">
<input type="button" class="darkBtn" value="등록"/>
<input type="button" class="softBtn"value="취소"/>
</div>

</div>

<script>

axios.createApp({
    data(){

    },
    methods:{
        
    }
}).mount();
</script>
</body>
</html>