<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="ko">
<head>
<!-- favicon 설정 -->
<link rel="icon shortcut"  href="/admin_common_assets/common_img/mimir_favicon.ico"/>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<th:block th:replace="~{administrator/fragments/admin_header :: admin_header}"></th:block>

<script src="/admin_common_assets/js/pagination.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- CSS 파일 포함 -->
<link rel="stylesheet" th:href="@{/dining/css/admin_dining.css}">
</head>
<body>
<th:block th:replace="~{administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>

<div id="body-pd" class="body-pd">
<!-- <h2 class="h2Title">title 작성</h2> -->
<hr/>
    <!-- 메인 컨텐츠 -->
    <main class="main-content" style="margin-right: 30px">
    

      <section class="dining-section">
        <h1>다이닝</h1>

        <!-- 검색 필터 Fragment -->
		<div th:replace="~{fragments/filter :: filter(${filter})}"></div>

 

<table class="dining-table">
  <thead>
    <tr>
      <th>번호</th>
      <th>이름</th>
      <th>타입</th>
      <th>등록일</th>
      <th>담당자</th>
      <th style="text-align: center;">
        <a th:href="@{/admin/dining/add}">
          <button type="button" class="add-btn">+</button>
        </a>
      </th>
    </tr>
  </thead>
 <tbody th:fragment="dining_list_fm" id="resultArea" >
  <tr th:each="dining, stat : ${diningList}" th:if="${stat.count <= 5}" th:attr="data-dining-id=${dining.dining_id}">
    <td th:text="${stat.count}"></td>
    <td th:text="${dining.dining_name}"></td>
    <td th:text="${dining.type}"></td>
    <td th:text="${#dates.format(dining.dining_reg_date, 'yyyy-MM-dd')}"></td>
    <td th:text="${dining.manager_name}"></td>
    <td>
      <a th:href="@{/admin/dining/edit(diningId=${dining.dining_id})}">
        <button type="button" class="edit-btn">수정</button>
      </a>
    </td> 
  </tr>
</tbody>
</table>

<!-- 버튼 영역: 오른쪽 정렬 -->
<div style="display: flex; justify-content: flex-end; gap: 16px; margin: 16px 0 0 0;">
  <a id="repMenuEditBtn" href="#">
    <button type="button" class="rep-menu-btn">대표메뉴 수정</button>
  </a>
  <a id="deleteBtn" href="#">
    <button type="button" class="delete-btn">삭제</button>
  </a>
</div>

<!-- 페이지네이션 fragment -->
<div th:replace="~{fragments/pagination :: pagination}"></div>

<!-- JavaScript 파일 포함 -->
<script th:src="@{/dining/js/admin_dining.js}"></script>

</section>
<!-- 페이징 -->
</main>
</div>
</body>
</html>