<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:class="'main-page'">
<head>
    <meta charset="UTF-8">
    <title>HOTEL MIMIR</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
    <!-- 헤더 삽입 -->
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- 본문 Swiper 배너 -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img th:src="@{/images/mimir1.png}" alt="호텔1">
                <div class="slide-text">
                    <h2>HOTEL MIMIR</h2>
                    <p>안목 있는 이들을 위한 정교한 공간.</p>
                </div>
            </div>
            <div class="swiper-slide">
                <img th:src="@{/images/mimir2.jpg}" alt="호텔2">
                <div class="slide-text">
                    <h2></h2>
                    <p>럭셔리한 서울의 하늘 뷰</p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div style="height: 2000px; background: linear-gradient(white, lightgray);">
        <h2 style="padding-top: 200px; text-align: center;">스크롤 테스트용입니다</h2>
    </div>

<!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper(".mySwiper", {
            loop: true,
            effect: "fade",
            autoplay: {
                delay: 4000,
                disableOnInteraction: false
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
            }
        });
    </script>
    
    <!-- 푸터 삽입 -->
    <div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>