<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="ko">
<head>
<!-- favicon 설정 -->
<link rel="icon shortcut"  href="/admin_common_assets/common_img/mimir_favicon.ico"/>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/admin_faq.css" />


<!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<th:block th:replace="~{/administrator/fragments/admin_header :: admin_header}"></th:block>

</head>
<body>
<th:block th:replace="~{/administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>

<div id="body-pd" class="body-pd">
<h2 class="h2Title">title 작성</h2>
<hr/>
    <!-- 메인 컨텐츠 -->
    <main class="main-content">
    

      <section class="faq-section">
        <h1>FAQ</h1>

        <!-- 검색 필터 -->
        <div class="search-bar">
          <input type="text" id="titleSearch" placeholder="제목" />
          <button id="searchBtn">검색</button>
        </div>

        <!-- FAQ 테이블 -->
        <table class="faq-table">
          <thead>
            <tr>
              <th><input type="checkbox" id="selectAll" /></th>
              <th>번호</th>
              <th>제목</th>
              <th>등록일</th>
            </tr>
          </thead>
         <tbody id="faqList" th:each="faq, stat : ${faqList}">
  <tr>
    <td><input type="checkbox" name="chk" th:value="${faq.faq_num}"/></td>
    <td th:text="${stat.count}"></td>
    <td th:text="${faq.faq_title}"></td>
    <td th:text="${#dates.format(faq.faq_date, 'yyyy-MM-dd')}"></td>
  </tr>
</tbody>

        </table>

        <!-- 하단 버튼 -->
        <div class="bottom-controls">
          <button class="btn modify">수정</button>
          <button id="deleteBtn" class="btn delete">삭제</button>
          <button class="btn apply" onclick="location.href='/admin/faq/register'">FAQ 등록</button>
        </div>

        <!-- 페이징 -->
        <div class="pagination">
          <button class="page">&laquo;</button>
          <button class="page active">1</button>
          <button class="page">2</button>
          <button class="page">3</button>
          <button class="page">&raquo;</button>
        </div>
      </section>
    </main>
</div>
  <script src="/js/admin_faq.js"></script>
</body>
</html>