@charset "UTF-8";


.h2Title{
    font-size:1.5rem; 
    font-weight: 700; 
    
    margin-top:2.5rem;
    

    /* font-size: 30px;
    border-bottom: 3px solid #333;
    padding-bottom: 20px;
    margin-bottom: 20px; */

}

hr{
  border: none;              /* 기본 테두리 제거 */
  height: 3px;               /* 두께 */
  background-color: #333;    /* 색상 */
  width: calc(100% - 1.87rem);               /* 너비 */
  margin: 0 0 20px 0;        /* h2와의 간격 */
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.95rem;
}

thead th{
    background-color: #F3ECE7;
    padding: 12px 8px;
    border: 1px solid #ddd;
    font-weight: 600;
    white-space: nowrap;
}

tbody tr{
    background-color: #FAFAFA;
    /*border: 1px solid #eee;*/
}

tbody td{
    padding: 10px 8px;
    white-space: nowrap;
    border: 1px solid #eee;
}

tbody tr:hover{
    background-color: #d4cfc7;
    cursor:pointer;
}

.table-wrapper{
    
    justify-content: center;
    padding: 0 5rem;     /* 좌우 여백 */
    margin-right: 5rem;
}
