@charset "UTF-8";
.h2Title{
    font-size:1.5rem; 
    font-weight: 700; 
    margin-bottom: 0.5rem;
}


table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.95rem;
}

thead th{
    background-color: #F3ECE7;
    padding: 12px 8px;
    border: 1px solid #ddd;
    font-weight: 600;
    white-space: nowrap;
}

tbody tr{
    background-color: #FAFAFA;
    /*border: 1px solid #eee;*/
}

tbody td{
    padding: 10px 8px;
    white-space: nowrap;
    border: 1px solid #eee;
}

tbody tr:hover{
    background-color: #d4cfc7;
    cursor:pointer;
}

.table-wrapper{
    padding: 0 5rem;     /* 좌우 여백 */
}