@charset "UTF-8";


.h2Title{
    font-size:1.5rem; 
    font-weight: 700; 
    
    margin-top:2.5rem;
    

    /* font-size: 30px;
    border-bottom: 3px solid #333;
    padding-bottom: 20px;
    margin-bottom: 20px; */

}

hr{
    border: none;              /* 기본 테두리 제거 */
    height: 3px;               /* 두께 */
    background-color: #333;    /* 색상 */
    width: calc(100% - 1.87rem);               /* 너비 */
    margin: 0 0 20px 0;        /* h2와의 간격 */
    
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.95rem;
}

table th{
    background-color: #F3ECE7;
    padding: 12px 8px;
    border: 1px solid #ddd;
    font-weight: 600;
    white-space: nowrap;
}

table tr{
    background-color: #FAFAFA;
    /*border: 1px solid #eee;*/
}

table td{
    padding: 10px 8px;
    white-space: nowrap;
    border: 1px solid #eee;
}

table tr:hover{
    background-color: #d4cfc7;
    cursor:pointer;
}

.table-wrapper{
    position: relative;  /* 테이블의 부모 요소에 상대 위치 설정 */
    padding: 0 5rem;     /* 좌우 여백 */
    margin-right: 5rem;
}

/* 세로형 전용 스타일 */
.vertical-table {
    width: 100%; /* 또는 max-width: 100%; margin으로 가운데 정렬도 가능 */
    max-width:600px; /*최대 너비 제한   */
    margin: 0 auto; /* 가운데 정렬 */
    margin-top:5rem; /*표와 hr 사이의 간격*/
    font-size:1.2rem;
}

.vertical-table select{
    font-size:1.2rem;
}


.vertical-table input{
    font-size:1.2rem;
}

.vertical-table th {
    background-color: #F3ECE7;
    text-align: left;
    padding: 8px 10px;
    width: 30%;
    text-align: center;
}

.vertical-table td {
    text-align: left;
    padding: 10px 8px;
    text-align: center;

}

.vertical-table tr:hover, .vertical-table td:hover{
    background-color: transparent;
    cursor: default;
}

.btnGroup{
    position: absolute;
    margin-top: 2rem;
    display: flex;
    gap: 1rem; 
    width: calc(100%-(100% -43.75rem));
    justify-content: flex-end;
}


.darkBtn {
    background-color: #C89FA3;
    color: black;
    border: 1px solid #ccc;
}

.softBtn {
    background-color: #F3ECE7;
    color: black;
    border: 1px solid #ccc;
}

.darkBtn, .softBtn{
    width: 120px;
    height: 56px;
    font-size:1.5rem;
    
}

/* Hover 상태 */
.darkBtn:hover {
    background-color: #A68A8A;  /* 호버 시 배경색 변경 */
    color: white;                /* 호버 시 글씨 색 변경 */
    cursor: pointer;            /* 커서 포인터로 변경 */
}
.softBtn:hover{
    background-color: #B0B0B0 ;
    color: white;                /* 호버 시 글씨 색 변경 */
    cursor: pointer;  
}


/* Active 상태 (클릭 시) */
.darkBtn:active {
    background-color: #8A6D6D;  /* 클릭 시 배경색 변경 */
    transform: scale(0.98);      /* 클릭 시 살짝 눌린 느낌 */
}

.softBtn:active{
    background-color: #636363 ;  /* 클릭 시 배경색 변경 */
    transform: scale(0.98);      /* 클릭 시 살짝 눌린 느낌 */
}

.radiusBtn{
    background-color: #eacdc1;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    font-weight: 500;/*=400, normal*/
    color: #000;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-right: 10rem;
    float: right;

    /* 클릭 느낌을 위한 그림자와 전환 효과 */
    transition: all 0.15s ease-in-out;

}

.radiusBtn:hover{
    background-color: #ddbfb3;
    transform: translateY(-1px);
    
}

.radiusBtn:active {
    background-color: #cfaea2;
    transform: translateY(1px);
    
}