<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/admin_resv_room/admin_resv_room_detail.css}" />
  <link rel="icon shortcut"  href="/admin_common_assets/common_img/mimir_favicon.ico"/>
  <style>
  </style>
<th:block th:replace="~{/administrator/fragments/admin_header :: admin_header}"></th:block>
</head>
<body>
<th:block th:replace="~{/administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>
<div id="body-pd" class="body-pd">
<div class="table-section">

<div class="table-section">
  <h2 class="h2Title">
    객실 예약 현황 상세
    <a class="edit-btn"  title="수정" th:href="@{admin/resvroommodify(resvId=${resv.resvId})}">
      ✏️
    </a>
  </h2>

  <div class="detail-box">
    <table class="detail-table">
      <tr>
        <td>예약번호</td>
        <td  th:text="${resv.resvId}">20250617</td>
      </tr>
      <tr>
        <td>고객명</td>
        <td th:text="${resv.userName}">김영하</td>
      </tr>
      <tr>
        <td>연락처</td>
        <td th:text="${resv.userTel}">010-1234-5678</td>
      </tr>
      <tr>
        <td>E-Mail</td>
        <td th:text="${resv.userEmail}"></td>
      </tr>
      <tr>
        <td>룸 종류(호실)</td>
        <td  th:text="|${resv.typeName}(${resv.roomId})|">프리미어룸(708)</td>
      </tr>
      <tr>
        <td>결제 금액</td>
        <td  th:text="'₩' + ${#numbers.formatInteger(resv.paymentPrice, 3, 'COMMA')}"></td>
      </tr>
      <tr>
        <td>결제 수단(결제 상태)</td>
        <td  th:text="|${resv.paymentType}(${resv.paymentStatus})|"></td>
      </tr>
      <tr>
        <td>체크인</td>
        <td  th:text="${resv.checkinDate}">2025.08.27(수)</td>
      </tr>
      <tr>
        <td>체크아웃</td>
        <td  th:text="${resv.checkoutDate}">2025.08.29(금)</td>
      </tr>
      <tr>
        <td>인원 수</td>
        <td  th:text="|성인: ${resv.numGuestsAdult}, 아동: ${resv.numGuestsChild}|"></td>
      </tr>
      <tr>
        <td>예약상태</td>
        <td th:text="${resv.status}">예약완료</td>
      </tr>
      <tr>
        <td>회원/비회원</td>
        <td th:text="${resv.userName != null} ? (${resv.isMember != null and resv.isMember} ? '회원' : '비회원') : 'N/A'"></td>
      </tr>
      <tr>
        <td>요청사항</td>
        <td  th:text="${resv.requestMsg}">없음</td>
      </tr>
    </table>
  </div>
  </div>
  </div>
  </div>

</body>
</html>
