<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/css/admin_resv_room/admin_resv_room.css}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon shortcut"  href="/admin_common_assets/common_img/mimir_favicon.ico"/>
  <style>

  </style>
  <script src="/admin_common_assets/js/pagination.js"></script>
  <!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<th:block th:replace="~{/administrator/fragments/admin_header :: admin_header}"></th:block>
</head>
<body>
<th:block th:replace="~{/administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>
<div id="body-pd" class="body-pd">

<div class="table-section">
  <h2 class="h2Title">예약 현황</h2>

  <div class="filters">
    <div class="date-range">
      <label>시작일</label>
      <input type="date" name="startDate" />
      <span>-</span>
      <label>종료일</label>
      <input type="date" name="endDate" />
    </div>

    <div style="padding-left: 600px;">
      <label>룸 종류</label>
      <select name="roomType">
        <option value="">전체</option>
        <option value="스탠다드룸">스탠다드룸</option>
        <option value="프리미어룸">프리미어룸</option>
        <option value="스위트룸">스위트룸</option>
        <option value="프레지덴셜 스위트 룸">프레지덴셜 스위트 룸</option>
      </select>
    </div>

    <div>
      <label>회원</label>
      <select name="memberType">
        <option value="">전체</option>
        <option value="회원">회원</option>
        <option value="비회원">비회원</option>
      </select>
    </div>

    <div>
      <label>예약 상태</label>
      <select name="resvStatus">
        <option value="">전체</option>
        <option value="예약 대기">예약 대기</option>
        <option value="예약 완료">예약 완료</option>
        <option value="예약 취소">예약 취소</option>
        <option value="체크인 완료">체크인 완료</option>
        <option value="체크아웃 완료">체크아웃 완료</option>
      </select>
    </div>

    <div style="margin-left: auto;">
      <input type="text" name="searchUser" placeholder="예약자 검색" />
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>예약 번호</th>
        <th>룸 종류(호실)</th>
        <th>예약자(회원/비회원)</th>
        <th>예약 상태</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="resv : ${resvList}"  th:onclick="|location.href='@{/admin/resvroomdetail(resvId=${resv.resvId})}'|">
        <td th:text="${resv.resvId}">20250123</td>
        <td th:text="|${resv.typeName}(${resv.roomId})|">스탠다드룸(601)</td>
        <td th:text="${resv.userName != null} ? (${resv.isMember != null and resv.isMember} ? ${resv.userName} + '(회원)' : ${resv.userName} + '(비회원)') : 'N/A'"></td>
        <td th:text="${resv.status}">예약 대기</td>
      </tr>
    </tbody>
  </table>
</div>
  <div id="paginationArea" th:replace="~{fragments/pagination.html :: pagination}"></div>
</div>

</body>
</html>
