<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.chat.ChatMessageMapper">

    <select id="findByRoomId" resultType="kr.co.sist.chat.ChatMessageDTO">
        SELECT * FROM chat_message WHERE room_id = #{room_id} ORDER BY send_time ASC
    </select>

    <insert id="insert" parameterType="kr.co.sist.chat.ChatMessageDTO">
        INSERT INTO chat_message (message_id, room_id, staff_id, dept_iden, content, send_time, is_read)
        VALUES (FINAL.SEQ_CHAT_MSG.NEXTVAL, #{room_id}, #{staff_id}, #{dept_iden}, #{content}, #{send_time}, #{is_read})
    </insert>

    <update id="markAsRead">
        UPDATE chat_message SET is_read = '1'
        WHERE room_id = #{room_id} AND staff_id = #{staff_id} AND is_read = '0'
    </update>

</mapper> 