<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.diningresv.DiningResvMapper">

  <select id="selectAllResv" resultType="kr.co.sist.diningresv.DiningResvDTO">
    SELECT 
      r.RESERVATION_ID AS reservationId,
      r.RESERVATION_NAME AS reservationName,
      d.DINING_NAME AS diningName,
      r.RESERVATION_DATE AS reservationDate,
      r.RESERVATION_STATUS AS reservationStatus
    FROM 
      DINING_RESERVATION r
      LEFT JOIN DINING d ON r.DINING_ID = d.DINING_ID
    ORDER BY 
      r.RESERVATION_DATE DESC, 
      r.RESERVATION_TIME DESC
  </select>
  
  <resultMap id="diningResvMap" type="kr.co.sist.diningresv.DiningResvDTO">
    <id property="reservationId" column="RESERVATION_ID"/>
    <result property="reservationName" column="RESERVATION_NAME"/>
    <result property="reservationTell" column="RESERVATION_TELL"/>
    <result property="reservationDate" column="RESERVATION_DATE"/>
    <result property="reservationTime" column="RESERVATION_TIME"/>
    <result property="reservationCount" column="RESERVATION_COUNT"/>
    <result property="reservationStatus" column="RESERVATION_STATUS"/>
    <result property="reservationRequest" column="RESERVATION_REQUEST"/>
    <result property="diningId" column="DINING_ID"/>
    <result property="diningName" column="DINING_NAME"/>
  </resultMap>
  
  <select id="selectResvId" parameterType="int" resultMap="diningResvMap">
    SELECT 
      R.RESERVATION_ID,
      R.RESERVATION_NAME,
      R.RESERVATION_TELL,
      R.RESERVATION_DATE,
      R.RESERVATION_TIME,
      R.RESERVATION_COUNT,
      R.RESERVATION_STATUS,
      R.RESERVATION_REQUEST,
      R.DINING_ID,
      D.DINING_NAME
    FROM DINING_RESERVATION R
    JOIN DINING D ON R.DINING_ID = D.DINING_ID
    WHERE R.RESERVATION_ID = #{reservationId}
  </select>

</mapper>