<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.diningresv.DiningResvMapper">

  <select id="selectAllResv" resultType="kr.co.sist.diningresv.DiningResvDTO">
    SELECT 
      r.RESERVATION_ID AS reservationId,
      r.RESERVATION_NAME AS reservationName,
      d.DINING_NAME AS diningName,
      r.RESERVATION_DATE AS reservationDate,
      r.RESERVATION_STATUS AS reservationStatus,
      r.RESERVATION_TYPE AS reservationType
    FROM 
      DINING_RESERVATION r
      LEFT JOIN DINING d ON r.DINING_ID = d.DINING_ID
    ORDER BY 
      r.RESERVATION_DATE DESC, 
      r.RESERVATION_TIME DESC
  </select>
  
  <select id="selectDiningId" parameterType="int" resultType="kr.co.sist.dining.user.DiningDomain">
    SELECT 
      DINING_ID,
      DINING_NAME,
      TYPE,
      PHONE_NUMBER,
      LOCATION,
      DINING_INTRODUCTION,
	  DINING_CLASSIFICATION
    FROM 
      DINING
    WHERE DINING_ID = #{diningID}
  </select>
  
  <select id="selectAllDining" resultType="kr.co.sist.dining.user.DiningDomain">
    SELECT
      DINING_ID,
      DINING_NAME,
      TYPE,
      LOCATION,
      DINING_RESV_AVAILABILITY
    FROM DINING
    WHERE DINING_RESV_AVAILABILITY = 'Y'
    ORDER BY DINING_ID
  </select>
  
  <resultMap id="diningResvMap" type="kr.co.sist.diningresv.DiningResvDTO">
    <id property="reservationId" column="RESERVATION_ID"/>
    <result property="reservationName" column="RESERVATION_NAME"/>
    <result property="reservationTell" column="RESERVATION_TELL"/>
    <result property="reservationDate" column="RESERVATION_DATE"/>
    <result property="reservationTime" column="RESERVATION_TIME"/>
    <result property="reservationCount" column="RESERVATION_COUNT"/>
    <result property="reservationStatus" column="RESERVATION_STATUS"/>
    <result property="reservationRequest" column="RESERVATION_REQUEST"/>
    <result property="reservationType" column="RESERVATION_TYPE"/>
    <result property="diningId" column="DINING_ID"/>
    <result property="diningName" column="DINING_NAME"/>
  </resultMap>
  
  <select id="selectResvId" parameterType="int" resultMap="diningResvMap">
    SELECT 
      R.RESERVATION_ID,
      R.RESERVATION_NAME,
      R.RESERVATION_TELL,
      R.RESERVATION_DATE,
      R.RESERVATION_TIME,
      R.RESERVATION_COUNT,
      R.RESERVATION_STATUS,
      R.RESERVATION_REQUEST,
      R.RESERVATION_TYPE,
      R.DINING_ID,
      D.DINING_NAME
    FROM DINING_RESERVATION R
    JOIN DINING D ON R.DINING_ID = D.DINING_ID
    WHERE R.RESERVATION_ID = #{reservationId}
  </select>
  
  <select id="selectResvSeq" resultType="int">
    SELECT DINING_RESERVATION_SEQ.NEXTVAL FROM DUAL
  </select>

  <insert id="insertDiningResv" parameterType="kr.co.sist.diningresv.DiningResvDTO">
    INSERT INTO DINING_RESERVATION (
        RESERVATION_ID, DINING_ID, USER_NUM, PAYMENT_ID, NON_MEM_ID,
        RESERVATION_TYPE, RESERVATION_NAME, RESERVATION_DATE, RESERVATION_TIME,
        RESERVATION_COUNT, RESERVATION_REQUEST, RESERVATION_TELL, RESERVATION_STATUS
    )
    VALUES (
        #{reservationId}, #{diningId}, #{userNum}, #{paymentId}, #{nonMemId},
        #{reservationType}, #{reservationName}, #{reservationDate}, #{reservationTime},
        #{reservationCount}, #{reservationRequest}, #{reservationTell}, #{reservationStatus}
    )
</insert>
  
  <update id="updateResvInfo" parameterType="kr.co.sist.diningresv.DiningResvDTO">
    UPDATE DINING_RESERVATION
    SET
      RESERVATION_DATE = #{reservationDate},
      RESERVATION_TIME = #{reservationTime},
      RESERVATION_COUNT = #{reservationCount},
      RESERVATION_STATUS = #{reservationStatus},
      RESERVATION_REQUEST = #{reservationRequest}
    WHERE RESERVATION_ID = #{reservationId}
  </update>

</mapper>