<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.FAQ.FAQMapper">
	<select id="selectAllFAQ" resultType="kr.co.sist.FAQ.FAQDTO">
		SELECT faq_num, faq_title, faq_content, faq_date
		FROM faq
		ORDER BY faq_date DESC
	</select>
	<insert id="insertFaq" parameterType="kr.co.sist.FAQ.FAQDTO">
		INSERT INTO faq (faq_num, faq_title, faq_content, faq_date)
		VALUES (faq_seq.NEXTVAL, #{faq_title}, #{faq_content}, #{faq_date})
	</insert>
	
	<delete id="deleteFaqs" parameterType="list">
  DELETE FROM faq WHERE faq_num IN
  <foreach item="num" collection="list" open="(" separator="," close=")">
    #{num}
  </foreach>
</delete>

<select id="selectOneFaq" parameterType="int" resultType="kr.co.sist.FAQ.FAQDTO">
	select faq_num, faq_title, faq_content
	from faq
	where faq_num = #{faq_num}

</select>

</mapper>