<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.member.MemberMapper">
	
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="kr.co.sist.member.MemberDTO">
		INSERT INTO MIMIR_USER(
			USER_NUM,
			LOGIN_TYPE,
			EMAIL_ID,
			PASSWORD,
			USER_NAME,
			GENDER,
			TEL,
			BIRTH_DATE,
			REG_TIME,
			USE_YN
		) VALUES (
			SEQ_MIMIR_USER.NEXTVAL,
			#{login_type},
			#{email_id},
			#{password},
			#{user_name},
			#{gender},
			#{tel},
			#{birth_date},
			#{reg_time},
			#{use_yn}
		)
	</insert>
	
	<!-- RefreshToken 갱신 -->
	<update id="updateRefreshToken" parameterType="map">
		UPDATE MIMIR_USER
		SET EMAIL_REFRESH_TOKEN = #{refreshToken}
		WHERE EMAIL_ID = #{emailId}
	</update>
	

  <!-- 이메일 중복 체크 -->
  <select id="countByEmail" parameterType="string" resultType="int">
    SELECT COUNT(*) 
    FROM MIMIR_USER 
    WHERE EMAIL_ID = #{emailId}
  </select>
  
  <select id="selectMemberByEmail" parameterType="string" resultType="kr.co.sist.member.MemberDTO">
    SELECT *
    FROM MIMIR_USER 
    WHERE EMAIL_ID = #{emailId}
  </select>

  <!-- RefreshToken 무효화 -->
  <update id="invalidateRefreshToken" parameterType="string">
    UPDATE MIMIR_USER
    SET EMAIL_REFRESH_TOKEN = NULL
    WHERE EMAIL_ID = #{emailId}
  </update>

  <!-- 마지막 로그인 시간 갱신 -->
  <update id="updateLastLoginTime" parameterType="string">
    UPDATE MIMIR_USER
    SET LAST_LOGIN_TIME = SYSDATE
    WHERE EMAIL_ID = #{emailId}
  </update>

  <!-- (마이페이지) 투숙 예정 예약 건수 조회 -->
  <select id="selectExpectedRoomResvCount" parameterType="String" resultType="int">
    SELECT count(*)
    FROM RESERVATION
    WHERE USER_NUM = #{userNum} AND STATUS = '예약완료'
  </select>

</mapper>