<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.member.MemberMapper">
	
	<insert id="insertMember" parameterType="kr.co.sist.member.MemberDTO">
		INSERT INTO MIMIR_USER(
			USER_NUM,
			LOGIN_TYPE,
			EMAIL_ID,
			PASSWORD,
			USER_NAME,
			GENDER,
			TEL,
			BIRTH_DATE,
			REG_TIME,
			USE_YN
		) VALUES (
			SEQ_MIMIR_USER.NEXTVAL,
			#{login_type},
			#{email_id},
			#{password},
			#{user_name},
			#{gender},
			#{tel},
			#{birth_date},
			#{reg_time},
			#{use_yn}
		)
	</insert>
	
	<select id="selectMemberByUserNum" parameterType="int" resultType="kr.co.sist.member.MemberDTO">
 		 SELECT *
 		 FROM MIMIR_USER
 		 WHERE USER_NUM = #{userNum}
	</select>
	
	<!-- RefreshToken 갱신 -->
	<update id="updateRefreshToken" parameterType="map">
		UPDATE MIMIR_USER
		SET EMAIL_REFRESH_TOKEN = #{refreshToken}
		WHERE EMAIL_ID = #{emailId}
	</update>
	

  <!-- 이메일 중복 체크 -->
  <select id="countByEmail" parameterType="string" resultType="int">
    SELECT COUNT(*) 
    FROM MIMIR_USER 
    WHERE EMAIL_ID = #{emailId}
  </select>
  
  <select id="selectMemberByEmail" parameterType="string" resultType="kr.co.sist.member.MemberDTO">
    SELECT *
    FROM MIMIR_USER 
    WHERE EMAIL_ID = #{emailId}
  </select>

  <!-- RefreshToken 무효화 -->
  <update id="invalidateRefreshToken" parameterType="string">
    UPDATE MIMIR_USER
    SET EMAIL_REFRESH_TOKEN = NULL
    WHERE EMAIL_ID = #{emailId}
  </update>

  <!-- 마지막 로그인 시간 갱신 -->
  <update id="updateLastLoginTime" parameterType="string">
    UPDATE MIMIR_USER
    SET LAST_LOGIN_TIME = SYSDATE
    WHERE EMAIL_ID = #{emailId}
  </update>

  <!-- (마이페이지) 투숙 예정 예약 건수 조회 -->
  <select id="selectExpectedRoomResvCount" parameterType="String" resultType="int">
    SELECT count(*)
    FROM RESERVATION
    WHERE USER_NUM = #{userNum} AND STATUS = '예약완료'
  </select>

  <select id="selectUserByNameAndEmail" parameterType="map" resultType="kr.co.sist.member.MemberDTO">
    SELECT *
    FROM MIMIR_USER
    WHERE USER_NAME = #{name} AND EMAIL_ID = #{email}
  </select>

  <update id="updateProfile" parameterType="kr.co.sist.member.MemberDTO">
    UPDATE MIMIR_USER
    SET
        BIRTH_DATE = #{birth_date},
        TEL = #{tel},
        UPDATE_TIME = SYSTIMESTAMP
    WHERE EMAIL_ID = #{email_id}
  </update>

  <select id="selectUserByIdAndNameAndEmail" parameterType="map" resultType="kr.co.sist.member.MemberDTO">
    SELECT *
    FROM MIMIR_USER
    WHERE EMAIL_ID = #{userId} AND USER_NAME = #{name} AND EMAIL_ID = #{email}
  </select>

  <update id="updatePassword" parameterType="map">
    UPDATE MIMIR_USER
    SET PASSWORD = #{newPassword}
    WHERE EMAIL_ID = #{email}
  </update>

  <update id="updateMemberToWithdrawn" parameterType="string">
    UPDATE MIMIR_USER
    SET
        USE_YN = 'N',
        LOGIN_TYPE = 'EXPIRED',
        USER_NAME = '탈퇴회원',
        GENDER = NULL,
        TEL = NULL,
        BIRTH_DATE = NULL,
        PASSWORD = NULL,
        EMAIL_REFRESH_TOKEN = NULL,
        QUIT_TIME = SYSTIMESTAMP
    WHERE EMAIL_ID = #{email}
  </update>

</mapper>