<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.nonmember.NonMemberMapper">
	
	<select id="selectNonMemberSeq" resultType="int">
    SELECT SEQ_NONMEMBER.NEXTVAL FROM DUAL
	</select>
	
	<insert id="insertNonMember" parameterType="kr.co.sist.resvroom.ReservationDTO">
		INSERT INTO NON_MEMBER (NON_MEM_ID, NON_MEM_NAME, NON_MEM_TEL, NON_MEM_REG_DATE, NON_MEM_EMAIL)
		VALUES (#{userNum}, #{userName}, #{userTel}, sysdate ,#{userEmail})
	</insert>
	
	<insert id="insertNonMember2" parameterType="kr.co.sist.diningresv.DiningResvDTO">
		INSERT INTO NON_MEMBER (NON_MEM_ID, NON_MEM_NAME, NON_MEM_TEL, NON_MEM_REG_DATE, NON_MEM_EMAIL)
		VALUES (#{nonMemId}, #{reservationName}, #{reservationTell}, sysdate ,#{reservationEmail})
	</insert>
	
</mapper>