<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/admin_room/admin_room_list.css}" />
  <link rel="icon shortcut"  href="/admin_common_assets/common_img/mimir_favicon.ico"/>
  <style>

  </style>
  <!-- jquery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<th:block th:replace="~{/administrator/fragments/admin_header :: admin_header}"></th:block>
</head>
<body>
<th:block th:replace="~{/administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>
<div id="body-pd" class="body-pd">
<div class="table-section">
  <h2 class="h2Title">객실 관리</h2>

  <table>
    <thead>
      <tr>
        <th>룸 종류</th>
        <th>침대 타입</th>
        <th>전망</th>
        <th>비고</th>
      </tr>
    </thead>
    <tbody>
    <!-- (typeName=${room.typeName},bedName=${room.bedName},viewName=${room.viewName}) -->
      <tr th:each="room : ${roomList}"
          th:onclick="|location.href='@{/admin/roomdetail(roomId=${room.roomId})}'|">
        <td th:text="${room.typeName}">룸 종류</td>
        <td th:text="${room.bedName}">침대 타입</td>
        <td th:text="${room.viewName}">전망</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

</div>
</body>
</html>
