<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/admin_room/admin_room_detail.css}" />
  <link rel="icon shortcut" href="/admin_common_assets/common_img/mimir_favicon.ico" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script th:src="@{/js/admin_room/admin_room_detail.js}"></script>
  <th:block th:replace="~{administrator/fragments/admin_header :: admin_header}"></th:block>
</head>
<body>
  <th:block th:replace="~{administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>
  <div id="body-pd" class="body-pd">
    <div class="table-section">
      <h2 class="h2Title">객실 관리</h2>
      <form th:action="@{/admin/roomModifyProcess}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="roomId" th:value="${room.roomId}" />
        <input type="hidden" name="typeName" th:value="${room.typeName}" />
        <input type="hidden" name="bedName" th:value="${room.bedName}" />
        <input type="hidden" name="viewName" th:value="${room.viewName}" />

        <div class="section">
          <label for="fileInput">썸네일</label>
          <img th:src="@{${room.imagePath}}" alt="room" id="thumbnailImage" style="cursor: pointer;" />
          <input type="file" id="fileInput" name="thumbnail" hidden accept="image/*" />
        </div>

        <div class="section">
          <label>설명</label>
          <textarea class="textarea-box" name="description" th:text="${room.description}">설명 입력</textarea>
        </div>

        <div class="btn-wrap">
          <button type="submit">수정</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
