<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>객실 관리</title>
  <link rel="stylesheet" th:href="@{/css/admin_room/admin_room_list.css}" />
  <link rel="icon shortcut"  href="/admin_common_assets/common_img/mimir_favicon.ico"/>
  <style>

  </style>
<th:block th:replace="~{/administrator/fragments/admin_header :: admin_header}"></th:block>
</head>
<body>
<th:block th:replace="~{/administrator/fragments/admin_sidebar :: admin_sidebar}"></th:block>
<div id="body-pd" class="body-pd">
<div class="table-section">
  <h2 class="h2Title">객실 관리</h2>

  <table>
    <thead>
      <tr>
        <th>룸 종류</th>
        <th>침대 타입</th>
        <th>전망</th>
        <th>비고</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="room : ${roomList}"
          th:onclick="|location.href='@{/room_manage_detail(roomId=${room.roomId})}'|">
        <td th:text="${room.roomType}">룸 종류</td>
        <td th:text="${room.bedType}">침대 타입</td>
        <td th:text="${room.viewType}">전망</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

  <div class="pagination">
    <button>&laquo;</button>
    <button>&lsaquo;</button>
    <button class="active">1</button>
    <button>&rsaquo;</button>
    <button>&raquo;</button>
  </div>
</div>
</body>
</html>
